/*tags*/
html, body 
{   
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
body{
    background: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}
hr{
    margin-block-start: auto;
    margin-block-end: auto;
    overflow: auto;
    border-style: solid;
    border-color: hsl(40, 0%, 90%);
}

/*classess*/
.attribution {
    font-size: 11px; 
    text-align: center; 
    padding-top: 156px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.container{
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right 52vw bottom 42vh, left 50vw top 45vh;
    background-attachment: fixed;
}
.card{
    height: 140px;
    width: 350px;
    background: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.half-circle-left{
    display: flex;
    width: 830px;
    height: 600px;
    border-top-left-radius: 650px;
    border-top-right-radius: 678px;
    position: absolute;
    left: -200px;
    bottom: 180px;
    transform: rotate(500deg);
    background-image:linear-gradient(to right,hsl(198, 78%, 81%),hsl(185, 78%, 37%));
    z-index: -1;
}
.half-circle-right{
    display: flex;
    width: 830px;
    height: 540px;
    border-top-left-radius: 650px;
    border-top-right-radius: 678px;
    right: -140px;
    position: absolute;
    bottom: -194px;
    transform: rotate(-20deg);
    background-image:linear-gradient(hsl(200, 46%, 74%) , hsl(186, 90%, 30%));
    z-index: -1;
}
.profile-background{
    display: grid;
    text-align: center;
    margin-left: 508px;
    margin-right: 508px;
    margin-top: 100px;
    border-radius: 12px;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 20%), 0 8px 24px 0 rgb(0 0 0 / 20%);
}
.profile-photo img {
    width: 100px;
    position: fixed;
    left: 8px;
    top: 60px;
    bottom: 192px;
    right: 0;
    margin: auto;
    background-color: #ffff;
    padding: 6px;
    border-radius: 50%;   
}
.profile-sub-background{
    height: 139px;
    width: 349px;
}
.profile-details-background{
    display: grid;
    padding-bottom: 12px;
    background: white;
    padding-top: 64px;
    margin: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 14px;
}
.profile-personal-details{
    padding-left: 116px;
    padding-bottom: 2px;
    display: grid;
    grid-template-columns: 0.5fr 0.1fr;
}
.profile-city{
    text-align: center;
    padding-bottom: 12px;
}
.profile-count{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
    padding-top: 14px;
}
.profile-labels{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    font-size: 14px;
    column-gap: 8px;
    padding-top: 4px;
}
.profile-name,
.profile-count{
    font-size: 18px;
    font-weight: 700;
}
.profile-age{
    padding-top: 2px;
}
.profile-age,
.profile-labels,
.profile-city{
    color: hsl(0, 0%, 59%);
}
